---
---

html {
	font-family: Arial;
	font-size: 18px;
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	direction: rtl;
}

a {
	color: rgb(0, 3, 196);
	text-decoration: underline;
}

.site_wrapper {
	width: 100%;
	background: #fff;

	.site_content {
		max-width: 500px;
		margin: 50px auto;
		padding: 20px;
		background: #eee;
	}
}

.summary {
	display: flex;

	.photo {
		max-width: 150px;
		margin: 0 0 0 20px;

		img {
			width: 100%;
		}
	}

	.info {
		color: #fff;

		.info-row {
			display: flex;

			.info-col {
				&.info-col-first {
					min-width: 50px;
				}

				&.info-col-second {
					margin: 0 10px 0 0;

					a {
						color: rgb(0, 3, 196);
						text-decoration: underline;
					}
				}
			}
		}
	}
}