---
---

html {
	font-family: Arial;
	font-size: 18px;
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	direction: rtl;
}

a {
	color: rgb(0, 3, 196);
	text-decoration: underline;
}

.site_wrapper {
	width: 100%;
	background: #fff;

	.site_content {
		max-width: 500px;
		margin: 50px auto;
		padding: 20px;
		background: rgb(81, 129, 148);
	}
}

.card {
	display: flex;

	.summary {
		background: #fff;
		border-radius: 10px;
		padding: 20px;
		min-width: 150px;
		margin: 0 0 0 20px;

		.photo {
	
			img {
				width: 100%;
			}
		}

		.name {
			text-align: center;
			color: #444;
		}
	}

	.info {
		.info-row {
			display: flex;

			.info-col {
				&.info-col-first {
					min-width: 50px;
				}

				&.info-col-second {
					margin: 0 10px 0 0;

					a {
						color: rgb(0, 3, 196);
						text-decoration: underline;
					}
				}
			}
		}
	}
}