---
---

html {
	font-family: Arial;
	font-size: 18px;
	background: #fff;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	direction: rtl;
}

a {
  color: #f00;
}

.site_wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	background: #fff;

	.site_content {
		max-width: 500px;
		margin: 50 auto;
		padding: 20px;
		background: #eee;
	}
}

.summary {
	display: flex;

	.photo {
		max-width: 150px;
		margin: 0 0 0 20px;

		img {
			width: 100%;
		}
	}

	.info {
		color: #fff;

		.info-row {
			display: flex;

			.info-col {
				&.info-col-first {
					min-width: 50px;
				}

				&.info-col-second {
					margin: 0 10px 0 0;

					a {
						color: rgb(187, 187, 187);
					}
				}
			}
		}
	}
}